---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { LuCalendarDays } from "react-icons/lu";
import { FaRegClock } from "react-icons/fa6";
import { Separator } from "@/components/ui/separator";
import { BreadcrumbCustom } from "@/components/PostPage/BreadCrumb";
import { getCollection, type CollectionEntry } from "astro:content";
import Tags from "@/components/PostPage/Tags.tsx";
export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};
type Props = {
  post: CollectionEntry<"posts">;
};
const {
  post,
  post: {
    data: { title, category, subcategory, date, heroImage, tags, author },
  },
} = Astro.props;

const { Content, remarkPluginFrontmatter } = await post.render();
---

<BaseLayout pageTitle={title}>
  <div class="max-w-[900px] mx-auto">
    <div class="pt-8">
      <BreadcrumbCustom postTitle={title} />
    </div>
    <section class="py-6 flex flex-col items-start gap-4">
      <div class="space-x-2">
        <a
          href=`/categories/${category}`
          class="rounded bg-primary text-muted text-sm px-2 py-1 hover:underline"
          >{category}</a
        >
        <a
          href=`/subcategories/${subcategory}`
          class="rounded bg-muted-foreground text-muted text-sm px-2 py-1 hover:underline"
          >{subcategory}</a
        >
      </div>
      <div>
        <h1 class="text-3xl font-bold leading-normal">
          {title}
        </h1>
      </div>
      <div
        class="flex justify-start items-center space-x-3 text-muted-foreground"
      >
        <div>by {author}</div>
        <Separator orientation="vertical" className="h-7" />
        <div class="flex items-center space-x-1">
          <LuCalendarDays size={20} /><span
            >{
              date.toLocaleDateString("zh-TW", {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
              })
            }</span
          >
        </div>
        <Separator orientation="vertical" className="h-7" />
        <div class="flex items-center space-x-1">
          <FaRegClock size={20} />
          <span>{remarkPluginFrontmatter.minutesRead}</span>
        </div>
      </div>
      <Tags tags={tags} client:visible />
      <div class="post-content">
        <Content />
      </div>
    </section>
  </div>
</BaseLayout>
