---
// css styles
import "../styles/global.css";
// astro components
import Footer from "@/components/Footer/Footer.astro";
import { getCollection } from "astro:content";
// react components
import MainNavBar from "@/components/MainNavBar/MainNavBar";
import CategoryNavBar from "@/components/MainNavBar/CategoryNavBar";
import Sidebar from "@/components/Sidebar";
// view transitions
import { ViewTransitions } from "astro:transitions";

const posts = await getCollection(
  "posts",
  (post) => post.data.isDraft !== true
);
const uniqueCategories = [...new Set(posts.map((post) => post.data.category))];

interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
const {
  url: { pathname },
} = Astro;
const rootPath = pathname.split("/")[1];
---

<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | John's Script</title>
    <ViewTransitions />
  </head>
  <body>
    <CategoryNavBar uniqueCategories={uniqueCategories} client:only="react" />
    <MainNavBar client:only="react" rootPath={rootPath} />
    <Sidebar client:only="react" rootPath={rootPath} />
    <main id="main" class="max-container pt-[65px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
