---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/Blog/PostCard.astro";
import Sidebar from "@/components/Blog/Sidebar";
import type { CollectionEntry } from "astro:content";
import { BreadcrumbCustom } from "@/components/Blog/BreadCrumb";

type Props = {
  filter?: "category" | "subcategory" | "tag";
  filterItem?: string;
  filterItemUrl?: string;
  posts: CollectionEntry<"posts">[];
};

const { filter, filterItem, filterItemUrl, posts } = Astro.props;
const filterLabelMap = new Map([
  ["category", "類別"],
  ["subcategory", "子類別"],
  ["tag", "標籤"],
]);
const filterLabel = filter ? filterLabelMap.get(filter) : undefined;

const categoryCountMap = new Map();
posts.forEach((post) => {
  const category = post.data.category;
  if (categoryCountMap.has(category)) {
    categoryCountMap.set(category, categoryCountMap.get(category) + 1);
  } else {
    categoryCountMap.set(category, 1);
  }
});

const subcategoryCountMap = new Map();
posts.forEach((post) => {
  const subcategory = post.data.subcategory;
  if (subcategoryCountMap.has(subcategory)) {
    subcategoryCountMap.set(
      subcategory,
      subcategoryCountMap.get(subcategory) + 1
    );
  } else {
    subcategoryCountMap.set(subcategory, 1);
  }
});

const tagCountMap = new Map();
posts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    if (tagCountMap.has(tag)) {
      tagCountMap.set(tag, tagCountMap.get(tag) + 1);
    } else {
      tagCountMap.set(tag, 1);
    }
  });
});
---

<BaseLayout
  pageTitle={filterLabel ? `${filterLabel}－${filterItem}` : "全部貼文"}
>
  <div class="pt-8 mb-5">
    <BreadcrumbCustom
      filterItem={filterItem}
      filterItemUrl={filterItemUrl}
      filterLabel={filterLabel}
    />
  </div>
  <div class="w-fit">
    <h1 class="text-2xl font-bold mb-5">
      {filterLabel ? `${filterLabel}：${filterItem}` : "全部貼文"}
    </h1>
  </div>
  <div class="grid grid-cols-3 gap-6 max-lg:grid-cols-2">
    <section
      class="grid col-span-2 content-start gap-6 grid-cols-2 max-sm:grid-cols-1 mb-8"
    >
      {
        posts.map((post) => (
          <PostCard
            title={post.data.title}
            category={post.data.category}
            subcategory={post.data.subcategory}
            tags={post.data.tags}
            date={post.data.date}
            author={post.data.author}
            image={post.data.heroImage}
            slug={post.slug}
            body={post.body}
          />
        ))
      }
    </section>
    <aside class="max-lg:hidden">
      <Sidebar
        filter={filter}
        categoryCountMap={categoryCountMap}
        subcategoryCountMap={subcategoryCountMap}
        tagCountMap={tagCountMap}
        client:load
      />
    </aside>
  </div>
</BaseLayout>
