<!-- ---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/Blog/PostCard.astro";
import type { CollectionEntry } from "astro:content";
import { BreadcrumbCustom } from "@/components/Blog/BreadCrumb";

type Props = {
  filterLabel?: string;
  posts: CollectionEntry<"posts">[];
};

const { filterLabel, posts } = Astro.props;
---

<BaseLayout
  pageTitle={filterLabel ? `${filterLabel}－${filterItem}` : "全部貼文"}
>
  <div class="pt-8 mb-5">
    <BreadcrumbCustom
      filterLabel={filterLabel}
    />
  </div>
  <div class="w-fit mx-auto">
    <h1 class="text-2xl font-bold mb-5">
      {filterLabel ? `${filterLabel}：${filterItem}` : "全部貼文"}
    </h1>
  </div>
  <section
    class="grid gap-6 grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 mb-8"
  >
    {
      posts.map((post) => (
        <PostCard
          title={post.data.title}
          category={post.data.category}
          subcategory={post.data.subcategory}
          tags={post.data.tags}
          date={post.data.date}
          author={post.data.author}
          image={post.data.heroImage}
          slug={post.slug}
          body={post.body}
        />
      ))
    }
  </section>
</BaseLayout> -->
