---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { BreadcrumbCustom } from "@/components/Blog/BreadCrumb";

type Props = {
  filterUrl: string;
  filterLabel: string;
  countMap: Map<string, number>;
};

const { filterUrl, filterLabel, countMap } = Astro.props;
---

<BaseLayout pageTitle={filterLabel}>
  <div class="pt-8 mb-5">
    <BreadcrumbCustom filterLabel={filterLabel} />
  </div>
  <div class="w-fit mx-auto">
    <h1 class="text-2xl font-bold mb-5">
      {`${filterLabel}頁`}
    </h1>
  </div>
  <section
    class="grid gap-4 grid-cols-4 max-lg:grid-cols-3 max-sm:grid-cols-2 mb-6"
  >
    {
      Array.from(countMap.keys()).map((key) => (
        <a
          href={`${filterUrl}/${key}`}
          class="flex flex-col gap-2 items-center py-3 px-1 bg-primary rounded-xl text-muted"
        >
          <h3 class="text-lg font-semibold">{key}</h3>
          <p>{countMap.get(key)}則文章</p>
        </a>
      ))
    }
  </section>
</BaseLayout>
